/* div{
    background-color: pink;
}

p{
    background-color: crimson;
} */

/* *{
    background-color: pink;
}
h1{
    background-color: orange;
    color: red;
}

#heading{
    background-color: aqua;
    color: crimson;
}

.para{
    background-color: yellow;
} */

#heading2{
    background-color: aqua;
}

.Sample{
    background-color: red;
    border: 2px solid black;
}