.Main{
    border: 2px solid black;
    background-color: burlywood;
    text-align: center;
    padding: 10px;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    display: inline-block;
}

#image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

#heading{
    text-decoration: underline;
}


#desc{
    font-family: italic;
}